main {
  /*align-content: center;*/
  box-sizing: border-box;
  /*display: grid;*/
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  /*hyphens: auto;*/
  /*line-height: 1.65;*/
  margin: 0 auto;
  /*max-width: 680px;*/
  /*min-height: 100vh;*/
  /*padding: 72px 0;*/
  /*text-align: center;*/
}
h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}

.hidden.hidden {
   /*display:none;*/
  opacity:0;
  transition: all .8s ease;
}

.show{
  display:flex;
  opacity:1;
  /*transition: all .8s ease;*/
}
.purpleBorder.purpleBorder{
    border: 10px solid #5f259f;
}
.purpleText.purpleText{
    color: #5f259f;
}
.opacity30{
    opacity:.3;
}

/*.my-node-enter {*/
/*  opacity: 0;*/
/*}*/
/*.my-node-enter-active {*/
/*  opacity: 1;*/
/*  transition: opacity 200ms;*/
/*}*/
/*.my-node-exit {*/
/*  opacity: 1;*/
/*}*/
/*.my-node-exit-active {*/
/*  opacity: 0;*/
/*  transition: opacity 200ms;*/
/*}*/
.fadeOutOpacity{
    -webkit-animation: fadeOutOpacity 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOutOpacity 1s; /* Firefox < 16 */
        -ms-animation: fadeOutOpacity 1s; /* Internet Explorer */
         -o-animation: fadeOutOpacity 1s; /* Opera < 12.1 */
            animation: fadeOutOpacity 1s;
}

.fadein{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/*FADE OUT OPACITY*/

@keyframes fadeOutOpacity {
    from { opacity: 1; }
    to   { opacity: .3; }
}
/* Firefox < 16 */
@-moz-keyframes fadeOutOpacity {
    from { opacity: 1; }
    to   { opacity: .3; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOutOpacity {
    from { opacity: 1; }
    to   { opacity: .3; }
}

/* Internet Explorer */
@-ms-keyframes fadeOutOpacity {
    from { opacity: 1; }
    to   { opacity: .3; }
}
